@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Global Styles */
:root {
  --primary-color: #FF2882;
  --dark-color: #37003C;
  --light-color: #fff;
  --danger-color: #D81921;
  --success-color: #00FF87;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

span a {
  color: #333;
}

/* a:hover {
  color: #666;
} */

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  min-width: 900px;
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
}

/* Text Styles*/
.text-center {
  text-align: center;
}

/* Center All */
.all-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}

/* Grid */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-link {
  background: none;
  padding: 0;
  margin: 0;
}

.btn-primary,
.bg-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

/* Forms */
input {
  margin: 1.2rem 0;
}

.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

input[type='submit'],
button {
  font: inherit;
}

table th,
table td {
  padding: 8px;
  border: 1px solid #333;
}

table th {
  background: var(--light-color);
  font-weight: 300;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
}

.navbar ul {
  display: flex;
  margin-top: 1rem;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--light-color);
}

/* Jovan's styles */
.pl-logo {
  max-width: 250px;
}

table {
  text-align: center;
  width: 100%;
  border: 3px solid #333;
  border-collapse: collapse;
  background-color: #F0F0F0;
}

.crest-url {
  max-width: 50px;
  max-height: 50px;
}

.team-details {
  display: flex;
  align-items: center;
}

.team-name {
  margin-left: 10px;
  cursor: pointer;
}

.team-name:hover {
  text-decoration: underline;
}

tbody tr:nth-of-type(1) {
  background-color: var(--success-color);
}

tbody tr:nth-of-type(2),
tbody tr:nth-of-type(3),
tbody tr:nth-of-type(4) {
  background-color: #82ccdd;
}

tbody tr:nth-of-type(5),
tbody tr:nth-of-type(6) {
  background-color: #ff1a1a;
}

tbody tr:nth-of-type(18),
tbody tr:nth-of-type(19),
tbody tr:nth-of-type(20) {
  background-color: #fe0a01;
}

tr:hover {
  background-color: #e0e0e0;
}

.points {
  font-weight: 700;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  background-color: var(--dark-color);
  color: var(--light-color);
}

.header-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-div > * {
  margin-bottom: 16px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.player-card {
  width: 50%;
}

.fixtures-list,
.results-list {
  width: 100%;
}

.fixtures-list-item,
.results-list-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.5rem;
  border-top: 1px solid #c0c0c0;
  border-bottom: 1px solid#c0c0c0;
  font-size: 18px;
  text-align: center;
  position: relative;
}

.fixtures-list-item-div,
.results-list-item-home {
  position: absolute;
  left: 2rem;
}

.fixtures-list-item-span {
  position: absolute;
  right: 2rem;
  font-weight: 700;
}

.results-list-item-away {
  position: absolute;
  right: 2rem;
}

.fixtures-date {
  padding: 2rem 0 2rem 1rem;
}

.results-headings {
  display: flex;
  justify-content: space-between;
}

.results-result {
  font-weight: 700;
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 8px;
  align-self: center;
}

.date-span {
  margin-left: 2px;
  border-bottom: 1px solid #333;
}

footer {
  margin-top: 2rem;
  width: 100%;
  text-align: center;
  flex-shrink: 0;
}

footer p {
  padding-bottom: 16px;
  padding-top: 16px;
}

footer a {
  color: var(--success-color);
}

/* Mobile Styles */
@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }

  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
    width: 100%;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .pl-logo {
    max-width: 180px;
  }

  .container {
    min-width: 280px;
  }

  table {
    font-size: 0.9rem;
  }

  table th,
  table td {
    padding: 5px;
  }

  .crest-url,
  .gf-th,
  .ga-th,
  .gf-td,
  .ga-td {
    display: none;
  }

  .team-details {
    min-height: 52px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .team-name {
    margin-left: 0;
    text-align: center;
  }

  header {
    flex-direction: column;
    height: 100%;
  }

  header > h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .header-team-info {
    padding: 0.5rem;
    text-align: center;
  }

  .header-matches-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
  }

  .btn {
    padding: 0.5rem;
  }

  .btn-first {
    margin-bottom: 0.5rem;
  }

  .player-card {
    width: 100%;
  }

  .fixtures-list-item {
    border: 1px solid #c0c0c0;
  }

  .fixtures-list-item,
  .results-list-item {
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    padding: 1rem;
  }

  .fixtures-list-item-div,
  .results-list-item-home,
  .fixtures-list-item-span,
  .results-list-item-away {
    position: relative;
    left: 0;
    right: 0;
  }

  .fixtures-list-item-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .fixtures-date {
    padding: 1rem 0 1rem 1rem;
    text-align: center;
    font-size: 18px;
  }

  .results-result {
    padding: 6px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .results-date,
  .results-competition {
    font-size: 1rem;
  }

  .results-container {
    padding: 0;
    width: 315px;
  }

  footer {
    width: 100%;
  }
}
